<div class="navbar">
  <div class="navbar-start">

  <!--    Minimal View    -->
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li>
          <a>{{ 'header.navbar.menu.services.title' | translate }}</a>
          <ul class="p-2">
            <li><a>Taxi Aéorport</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </li>
        <li><a>Réservation</a></li>
        <li><a>FAQ</a></li>
      </ul>
    </div>

    <a class="btn btn-ghost text-xl">Brussels Shuttle</a>
  </div>

  <!--    Maximum View    -->
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 text-lg">
      <li>
        <details>
          <summary>{{ 'header.navbar.menu.services.title' | translate }}</summary>
          <ul class="w-64">
            <li><a>Taxi Aéorport</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </details>
      </li>
      <li><a>Réservation</a></li>
      <li><a>FAQ</a></li>
    </ul>
  </div>

  <div class="navbar-end">
    <ul class="menu menu-horizontal px-1 text-lg">
      <li>
        <a>Contact</a>
      </li>
      <div class="dropdown dropdown-bottom dropdown-end">
        <li tabindex="0">
          <a>
          <fa-icon [icon]="faLanguage" class=""></fa-icon>
          <fa-icon [icon]="faChevronDown" class="text-xs"></fa-icon>
          </a>
        </li>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
          @for(lang of languages; track lang) {
            <li><a (click)="changeLanguage(lang)">{{ 'language.'+lang | translate }}</a></li>
          }

        </ul>
      </div>
    </ul>
  </div>
</div>

