<!--    Hero Section    -->
<section class="relative flex flex-col-reverse py-16 lg:pt-0 lg:flex-col lg:pb-0">
  <!--  Image Background-->
  <div class="inset-y-0 top-0 right-0 z-0 w-full lg:pr-0 lg:mb-0 lg:w-7/12 lg:max-w-full lg:absolute">
    <svg class="absolute left-0 hidden h-full transform -translate-x-1/2 lg:block" viewBox="0 0 100 100" fill="white" preserveAspectRatio="none slice">
      <path d="M50 0H100L50 100H0L50 0Z"></path>
    </svg>
    <img class="object-cover w-full h-56 shadow-lg lg:shadow-none md:h-96 lg:h-full"
         src="assets/images/driver.webp"
         alt=""/>
  </div>

  <div class="relative flex flex-col items-start w-full max-w-xl px-4 mx-auto lg:mx-16 xl:mx-48 md:px-0 lg:px-8 lg:max-w-screen-xl">
    <div class="mb-16 lg:mt-12 lg:mb-56 lg:max-w-xl lg:pr-5 ">
      <p class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full">
        <img src="assets/images/bs_logo_only.png" class="w-24">
      </p>
      <p class="mb-5 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl sm:leading-none">
        Votre prochaine destination
        <span class="inline-block text-sky-500">Vous attend</span>
      </p>
      <p class=" mb-5 text-base text-gray-700 md:text-lg leading-8">
        Accédez à l'aéroport de Bruxelles (BRU) en toute simplicité et à votre rythme. Réservez votre transfert privé dès aujourd'hui et profitez d'un trajet confortable et sûr à partir de 50€ !
      </p>
      <div class="flex items-center">
        <button class="btn rounded-full h-10 md:h-16 w-40 sm:w-56 md:w-72 mr-2 sm:mr-6">
          <span class="md:text-lg font-light">Nous Contacter</span>
        </button>
        <button class="btn btn-primary text-white rounded-full h-10 md:h-16 w-50 sm:w-56 md:w-72">
          <span class="md:text-lg font-light">Réservez Maintenant</span>
          <fa-icon [icon]="faArrowRight" class="mr-2"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</section>

<!--    Services Section    -->
<section class="py-12 px-10 md:px-32 2xl:px-64 bg-gray-50">
  <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-4xl md:mb-12">
    <div>
      <p class="inline-block px-3 py-1 mb-4 text-xs font-semibold tracking-wider uppercase rounded-full bg-sky-500 text-white">
        Ce que nous offrons
      </p>
    </div>
    <h2 class="max-w-2xl mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto">

      Réserver votre transfert au meilleur prix
    </h2>
    <p class="text-base text-gray-500 leading-8">
      Réservez dès maintenant votre transfert depuis et vers l'aéroport de votre choix, en toute sérénité avec notre service de transfert fiable et professionnel.
    </p>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-4">

    <app-card-service [icon]="faPhoneVolume"
                      [title]="'24/7'"
                      [description]="'Réservez votre transfert privé dès aujourd\'hui et profitez d\'un trajet confortable et sûr à partir de 50€ !'">
    </app-card-service>

    <app-card-service [icon]="faMapLocationDot"
                      [title]="'Flexibilité'"
                      [description]="'Nos transferts se font également en France, Allemagne, Suisse, et Pays-Bas'">
    </app-card-service>

    <app-card-service [icon]="faTaxi"
                      [title]="'Ponctualité'"
                      [description]="'Nous venons toujours chercher nos clients à l\’heure, 24 heures sur 24, 7 jours sur 7.'">
    </app-card-service>


    <app-card-service [icon]="faPlaneDeparture"
                      [title]="'Transfert'"
                      [description]="'Brussels Shuttle est spécialisé dans le service de transfert d’aéroport disponible 24/24.'">
    </app-card-service>
  </div>
</section>

<!-- Approach -->
<section class=" py-16 mt-2">
  <app-reservation-approach></app-reservation-approach>
</section>


<!--    Notices Section    -->
<section class="pt-10 bg-gray-50">
  <!-- Title -->
  <div class="max-w-xl mx-auto lg:mx-64 2xl:mx-96 text-center lg:text-left lg:max-w-2xl">
    <div>
      <p class="inline-block px-3 py-1 mb-4 text-xs font-semibold tracking-wider  uppercase rounded-full bg-sky-500 text-white">
        Vos Avis
      </p>
    </div>
    <h2 class="font-sans text-3xl font-bold lg:leading-none lg:tracking-tight text-gray-900 sm:text-4xl">
      Ce que nos clients disent de nous
    </h2>
  </div>
  <!-- End Title -->
  <app-notices></app-notices>
</section>
