<section class="lg:flex lg:space-x-10 w-full">
  <div class="lg:w-96">
    <app-booking-details [passengerCountForm]="passengerCount"
                         [startAddressForm]="startAddress"
                          [endAddressForm]="endAddress"
                          [startTimeForm]="startTime"
    ></app-booking-details>
    @defer (when bookingDetailsFormGroup.valid){
      <button
        iconRight="tuiIconSearch"
        tuiButton
        type="button"
        (click)="searchJourneyQuote()"
        class="tui-space_right-3 tui-space_bottom-3 w-full mt-4 shadow-xl"
        [disabled]="bookingDetailsFormGroup.invalid">
        Rechercher
      </button>
    }
  </div>

  @defer (when journeyQuote != null){
    <div>
      <app-journey-quote [journeyQuote]="journeyQuote!"></app-journey-quote>
    </div>
  } @loading (minimum 1s){
    loading...
  }

  <div class="grid flex-grow" style="height: 70vh">
    <app-google-map [startAddress]="placeStartAddress.value"
                    [endAddress]="placeEndAddress.value">
    </app-google-map>
  </div>

</section>
