<footer class="footer p-10 bg-gray-900 text-white">
  <aside>
    <img src="assets/images/bs_logo_only.png" class="w-24">
    <p>Brussels Shuttle.<br>Providing reliable tech since 2014</p>
  </aside>
  <nav>
    <h6 class="footer-title">Services</h6>
    <a class="link link-hover">Réservation</a>
    <a class="link link-hover">Taci Aéroport</a>
    <a class="link link-hover">Nos Offres</a>
    <a class="link link-hover">Advertisement</a>
  </nav>
  <nav>
    <h6 class="footer-title">Company</h6>
    <a class="link link-hover">Á propos de nous</a>
    <a class="link link-hover">Contact</a>
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6>
    <a class="link link-hover">Terms of use</a>
    <a class="link link-hover">Privacy policy</a>
    <a class="link link-hover">Cookie policy</a>
  </nav>
</footer>
